parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: viteloge
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: fr
    secret: abc
    database_path: null

    amazon.access_key: "def"
    amazon.secret_key: "ghi"
    amazon.bucket: "somebucket.viteloge.com"
    amazon.endpoint: "s3-eu-west-1.amazonaws.com"