<div id="notifications">
{% for category in [ 'error', 'notice' ] %}
  {% for message in app.session.flashbag.get( category ) %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
  {% endfor %}
{% endfor %}
</div>
