{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block sonata_pre_fieldsets %}
<div class="viteloge-actions">
  <a href="#" class="btn">Contrôler</a>
  <a href="#" class="btn">Tester</a>
{% endblock%}
