
.results, .control, .controls {
    .expressions {
        .expression {
            font-family: "Courier new", Courier, fixed;
            font-size: 10px;
            font-weight: bold;
            color: #000;
        }
        .empty {
            font-style: italic;
            color: #c00;
        }
        .error {
            font-weight: bold;
            color: #f00;
        }
    }
    a.test {
        width: 0;
        padding-left: 13px;
        overflow: hidden;
        height: 13px;
        margin: 0 3px;
        display: inline-block;
        background: url("../images/loupe.gif") no-repeat;
    }
}

.form-inline input[type="radio"] {
    margin: 0 5px;
}

.table.controles {
    tr.urgent td {
        background-color: #f00 !important;
        color: #fff;
    }
}

.google_chart {
    width: 100%;
    height: 240px;
}

.table.controles, .traitements .table {
    td.actions {
        white-space: nowrap;
    }
}

.sonata-ba-form {
    .resize {
        input[type="text"] {
            width: 30px;
        }
    }
    form.heading {
        margin-bottom: 0;
    }
}

.sonata-bc .muted a {
    color: #70AFD0;
    &.btn {
        color: #999;
    }
}

.sonata-bc .form-horizontal {
    .control-label {
        width: 250px;
    }
    .controls {
        margin-left: 260px;
    }
}

.sonata-bc .ui-dialog .form-horizontal {
    .control-label {
        width: 200px;
    }
    .controls {
        margin-left: 210px;
    }
}