{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}

{% block block %}
{% if is_granted('ROLE_CONTROL') %}
<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th colspan="2">Contrôles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Traitements</td>
      <td><a href="{{ path('viteloge_admin_traitement_exclus') }}">contrôles</a></td>
    </tr>
  </tbody>
</table>     
{% endif %}
{% endblock %}
