<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th>URL</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
{% for xml_feed in object.xml_feeds %}
  {#% if traitement.UrlTraitement|length > 50 %}
    {% set tr_url = traitement.UrlTraitement|slice(0,50) ~ '...' %}
  {% else %}
    {% set tr_url = traitement.UrlTraitement %}
  {% endif %#}
    <tr>
      <td>{{ xml_feed.url }}</td>
      <td>
        {% if is_granted('ROLE_VITELOGE_ADMIN_XML_FEED_CREATE') %}
        <a href="{{ path( 'admin_viteloge_admin_xmlfeed_edit', {id: xml_feed.id } ) }}" class="btn btn-small"><i class="icon-pencil"></i> Éditer</a>
        {% endif %}
      </td>

    </tr>
{% endfor %}
  </tbody>
</table>
