<h3>Privilèges</h3>
<table class="table sonata-bc table-bordered table-striped sonata-ba-list">
  <thead>
    <tr>
      <th>{% trans %}privilege.offer{% endtrans %}</th>
      <th>{% trans %}privilege.begin{% endtrans %}</th>
      <th>{% trans %}privilege.end{% endtrans %}</th>
    </tr>
  </thead>
  <tbody>
  {% for privilege in object.privileges %}
    <tr>
      <td>{{ privilege.offre|trans|raw }}</td>
      <td>{{ privilege.dateDebut|date("d/m/Y") }}</td>
      <td>{% if privilege.dateFin is not null %}{{ privilege.dateFin|date("d/m/Y") }}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
